:root{
    --nav-bar-color: lightgray; 
    --drp-dwn-menu-color: #f5f5f5;
    --body-bckground-color: #008080;
}

body {
    background-color: var(--body-bckground-color);
    font-family:    Arial, Helvetica, sans-serfif;
}

/*Navigation bar*/
.navbar-brand {
    font-size: 2em;
}

#header-nav {    
    background-color: var(--nav-bar-color);
    border-radius: 0;    
}

.navbar-collapse {     
    background-color: var(--drp-dwn-menu-color);
}    

.nav {    
    font-size: 1.2em;    
    }

.nav li:hover{
    background-color: var(--body-bckground-color);
}

ul li {
    border-bottom: 2px solid #bbb;
}

ul li:first-child {
    margin-top: -7px;
}

ul li:last-child {
    border-bottom: 0;
    margin-bottom: -7px;
}
 /* Navigation bar*/

/* Main */
h1 {
    font-size: 1.90em;
}

.menu-item {    
    background-color: gray;    
    margin-bottom: 25px;
}

.menu-item p {
    margin: 40px;
    padding-bottom: 40px;      
}

h3 {
    padding-top: 10px;    
}
/* Main */

/* Media Queries*/

@media (min-width: 767px) {
    .collapse {
        background-color: var(--nav-bar-color);
    }    
} 

@media (max-width: 766px) {
    .menu-item {
        margin: 30px;
    }
}